:root {
  --color-bg: #191919;
  --color-text: #f8fafc;
}

page {
  margin: 0;
  background: #191919;
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Microsoft YaHei", sans-serif;
}

button {
  line-height: 2.4;
}
